@charset "utf-8";

/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v25-latin-regular.eot');
    src: url('../fonts/roboto-condensed-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-condensed-v25-latin-regular.woff') format('woff'),
        url('../fonts/roboto-condensed-v25-latin-regular.ttf') format('truetype'),
        url('../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-condensed-v25-latin-700.eot');
    src: url('../fonts/roboto-condensed-v25-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-condensed-v25-latin-700.woff') format('woff'),
        url('../fonts/roboto-condensed-v25-latin-700.ttf') format('truetype'),
        url('../fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v24-latin-regular.eot');
    src: url('../fonts/roboto-slab-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-slab-v24-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-slab-v24-latin-regular.woff') format('woff'),
        url('../fonts/roboto-slab-v24-latin-regular.ttf') format('truetype'),
        url('../fonts/roboto-slab-v24-latin-regular.svg#RobotoSlab') format('svg');
}

/* Variables */
:root {
    --bgr: #191D24;
    --bgr-tp: rgba(25, 29, 36, .9);
    --dgr: #303744;
    --gr: #2A313C;
    --lg: #47555e;
    --lb: #7aa5d2;
    --ow: #eeeeee;
    --fc: #637289;
    --lblgr: #7C8AA0;
    --mutedwhite: #b0b9c3;
    --bgr-red: #6d3737;
    --bgr-green: #728a00;
}

/* Global Resets & Base Styles */
html {
    scroll-padding: 140px 0 0 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--bgr);
    color: var(--ow);
}

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Status Colors */
.style-404 {
    color: #ffb3ba;
}

.style-304 {
    color: #ffdfba;
}

.style-301 {
    color: #feffa3;
}

.style-205 {
    color: #ddfffc;
}

.style-204 {
    color: #e2eeff;
}

.style-500 {
    color: #e1f7d5;
}